<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/all.css" type="text/css">
    </head>
    <body>
        <div class="body">
        <div class="head">
            <h1>Nutrify.Me</h1>
        </div>
        <div class="mid-divf">
        <form action="/home/update" method="POST">
            <h2 style="margin: 25px;">Profile</h2>
            <input class="inputAddOne" type="email" name="email" placeholder="New mail id...">
            <input class="inputAddOne" type="password" name="password" placeholder="New password...">
            <input class="inputAddOne" type="number" name="calorie" placeholder="New calorie target per day..."><br>
            <button class="inputAddOneS" type="submit">Update</button>
        </form>
        </div>
        <div class="footer">
            <button style="background-color: #4CAF50;"> <a href="/home">Home</a> </button>
            <button style="background-color: orange;"> <a href="/home/addOne">AddOne</a> </button>
            <form method="POST" action="/auth/signout">
                <button type="submit" style="background-color: orange;">SignOut</button>
            </form>
        </div>
        </div>
    </body>
</html>